.main-container{
    min-width: 1030px;
    max-width: 1030px;
    margin: 1rem auto;
}

.main-title{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8410b3;
    font-weight: 700;

    text-shadow: -1px 1px 0 gray,
            -2px 2px 0 rgb(158, 158, 158),
            -3px 3px 0 rgb(180, 180, 180),
            -4px 4px 0 rgb(206, 204, 204),

}