.main-graph-selling{
    display: flex;

    align-items: center;
    justify-content: center;
}


/* Custom Tooltip */

.main-custom-tooltip{
    background-color: aliceblue;
    width: auto;
    height: auto;
    padding: 1rem;
}

.main-custom-tooltip .custom-title{
    font-size: 2rem;
    font-weight: 700;
}

.main-custom-tooltip h2,p{
    margin: 5px;
    margin-left: 0px;
}

.main-custom-tooltip .custom-tooltip-selling{
    font-size: large;
    font-weight: 700;
}