.main-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    min-width: 1030px;
    max-width: 1030px;
    margin: 0 auto;
}

.search-by-name{
    width: 70%;
    height: 34px;
    margin: 0 5px;
    padding: 5px;
    border: solid 2px rgba(47, 13, 70, 0.568);
    border-radius: 5px;
}

.input-data select {
    width: 26%;
    height: 34px;
    margin: 0;
    padding: 5px;
    border: solid 2px rgba(47, 13, 70, 0.568);
    border-radius: 5px;
    background-color: transparent;
}

.search-by-name:focus, .input-data select:focus {
    border: solid 2px rgba(47, 13, 70, 0.568);
    border-radius: 5px;
    box-shadow: 0.1rem 0.1rem 2px rgba(47, 13, 70, 0.568);
}

main .group-cards{
    margin: 0;
    display: inline-block;
    position: relative;
    
}

main .group-cards button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
}

main .group-cards button:hover{
    opacity: 0.8;
}
