.header-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 12.5rem;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px black,
                0px 0px 10px 0px rgb(98, 0, 255);
    margin-bottom: 1.6rem;
}

.header-container div{
    width: 25rem;  /* 400px*/
}

.header-container nav{
    margin-right: 6rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: flex-end;
}

.header-container nav ul{
    list-style: none;
    display: flex;
}

.header-container ul li{
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem;
    padding: 0.8rem;
}

.customButton{
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    letter-spacing: 1px;
}

.customButton:hover{
    text-decoration: none;
    color: #8410b3;
}

.selectedOption{
    background-color: transparent;
    border: none;
    color:  #8410b3;
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;
    outline: 0;
    letter-spacing: 1px;
    text-decoration: none;
}

.selectedOption:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: none;
    color: #8410b3;
}


/* responsividade */

@media screen and (max-width: 1660px){
    .logo_text{
        visibility: hidden;
    }
}