.mold-card{
    margin: 1rem;
    width: 19rem; /* 300px */
    height: 25rem;

    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.904),
                0.3rem 0.35rem 0.6rem 0 rgba(0, 0, 0, 0.904);
    
    transition: 0.3s;
    display: inline-block;
}

.mold-card:hover{
    box-shadow: 0 0.5rem 1rem 0 rgba(47, 13, 70, 0.568);
}

.mold-card-image{
    width: auto;
    height: 21rem; /* 300px */
    background-color: #221F1F;
}

.mold-card-image div{
    /* background-image: url(./images/Streaming/youtube.png); */
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    height: 90%;
    width: 100%;
}

.mold-card-image h2{
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.mold-card-footer{
    padding: 0.2rem 1rem;
    width: auto;
    height: 4rem; /* 100px */
    background-color: #b4b4b4;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.mold-card-footer .price .price-color{
    color: green;
    font-weight: 700;
}

.mold-card-footer .shopping-cart{
    display: inline-block;
    position: relative;
}

.mold-card-footer .shopping-cart::after{
    content: "+";
    text-align: center;
    font-size: 0.7rem;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    bottom: 1.4rem;
    right: -0.6rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: rgba(255, 255, 255, 0.808);
}
